/**
 * remote style & layout
 */

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 10px;
  font-family: "MozTT", sans-serif;
  overflow: hidden;

  background-color: #272E33;
  background-image: url('images/grain.png');
  background-repeat: repeat;

  color: white;
}


/******************************************************************************
 * Setting panels: full-size <section role="region"> blocks
 */

/* Setting panels: full-size <section role="region"> blocks */
header {
  padding: 20px;
  font-size: 2.4em;

  background-image: -moz-linear-gradient(bottom, rgb(110,125,114) , rgb(68,84,72));
  background-image: -webkit-linear-gradient(bottom, rgb(110,125,114) , rgb(68,84,72));

  box-shadow: 0 0 15px #333;
}


#xbmc-main {
  margin: 10px;
}

.xbmc-content {
  margin: 30px 0;
  text-align: center;
}


/*************************************************************
 * Buttons
 */

.round_button {
  width: 60px;
  height: 60px;
  border: none;
  font-size: 1px;
}

#xbmc-playpause.status_paused {
  background: url('../img/button_play.png') no-repeat;
}

#xbmc-playpause.status_playing {
  background: url('../img/button_pause.png') no-repeat;
}

#xbmc-previous{ 
  background: url('../img/button_previous.png') no-repeat;
}

#xbmc-next {
  background: url('../img/button_next.png') no-repeat;
}

.square_rounded_button {
  background: #a5b9a8;
  border: none;
  padding: 5px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  min-width: 60px;
  box-shadow: 0 0 15px #333;
}

.round_button:active, .square_rounded_button:active {
  opacity: 0.5;
}

input[type=range] {
  width: 200px;
}

/****
 * Installer
 */

#install_me {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;

  border: none;
  font-size: 1.5em;
  padding: 10px;
  margin: 0;
}






