/**
 * remote style & layout
 */

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 10px;
  font-family: "MozTT", sans-serif;
  overflow: hidden;

  background-color: #272E33;
  background-image: url('images/grain.png');
  background-repeat: repeat;

  color: white;
}


/******************************************************************************
 * Setting panels: full-size <section role="region"> blocks
 */

/* Setting panels: full-size <section role="region"> blocks */
header {
  padding: 20px;
  font-size: 3em;

  background-image: -moz-linear-gradient(bottom, rgb(110,125,114) , rgb(68,84,72));
  background-image: -webkit-linear-gradient(bottom, rgb(110,125,114) , rgb(68,84,72));

  box-shadow: 0 0 15px #333;
}


#xbmc-main {
  margin: 10px;
}
